@charset "utf-8";		
/* External CSS Definition */

@font-face{
	font-family:'Abel';
	src:url("../font/abel.ttf");
	}

@media only screen and (max-width: 720px) {
     header { position: absolute; }
}

body{
	margin:0 auto 0 auto;
	padding:0px;
	font-family: 'Abel', abel;
	position: relative;
	}

header{
	width:100%;
	height:120px;px;
	background-color: #272727;
	position:fixed;
	}

#logo{
	margin:5px;
	padding:5px;
	}
	
#navigationBar li{
	display: inline;
	list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272727;
	}

li {
    float: left;
}

li a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	 
	padding: 10px 25px;
}

li a:hover {
    background-color: #111;
	border-bottom:solid;
	border-color:#3399ff;
  border-radius: 15px 5px 15px 5px;
}

#divLogo{
	
	}
	
#divSlogan{
	float: left;
	color:white;
	padding-left:15px;
	padding-top:15px;
	font-size:18px;
	}

#divNavigation{
	padding-top:5px;
	padding-left:20px;
	font-size:20px;
	white-space: nowrap;
	overflow:auto;
	}

#content{
	margin: 150px;
	padding-top:150px;
	padding-bottom: 10px;
	}	

#submit{
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    font-size: 24px;
    font-family:'Abel' , abel;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    margin-bottom: 20px;
    border-radius: 15px;
    }
    /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    background: #272727;
    color: #FFFFFF;
    
}
.containerCard {
    padding: 2px 16px;
    background: #FFFFFF;
    border-radius: 0 0 15px 15px;
}

.applyCard {
    width: 100%;
    background: #FFFFFF;
    border-radius: 0 0 15px 15px;
}

.cardHeading{
	background: #272727;
	color: #FFFFFF;
	padding: 20px;
	border-radius: 15px 15px 0 0;
}
.mapHeading{
	background: #272727;
	color: #FFFFFF;
	padding: 5px;
	border-radius: 15px 15px 0 0;
}
.hireCard{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    margin-bottom: 20px;
    padding: 10px;
    background-color:rgba(179,179,179,0.6);
    border-radius: 15px;
}

.jobCard{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 15px;
    opacity: 1;
    position: relative;
    height: 290px;
    width: 230px;
}

.jobCard:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #272727;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 15px;
}

#SoftwareEngineer:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

footer{
	width:100%;
	height:100px;
	background-color: #272727;
	text-align: center;
	color: #FFFFFF;
	}

.jobSlides{
        display:none;
        border-radius: 15px;

      }


